@import "./Variables.css";

.main-product {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: url("../assets/images/2.jpg");
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
}

.title-main {
  font-size: var(--size-lg);
  font-family: var(--font-title);
  font-weight: 800;
  color: var(--quaternary-color);
  background-color: var(--primary-color);
  text-align: center;
  width: 100%;
  max-width: 420px;
  line-height: 1;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.content-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  max-width: 80%;
  gap: 20px;
  padding: 20px;	
}

.container-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  list-style: none;
  border: 1px solid #000;
  text-align: center;
  width: 360px;
  height: auto;
  background-color: var(--primary-color);
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
}

.text-li {
  text-align: left;
  font-size: var(--size-xs);
  font-family: var(--font-text);
  color: var(--quinary-color);
  font-weight: 400;

}

.main-bonus {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  font-size: var(--size-xs);
  font-family: var(--font-text);
  line-height: 1.2;
  border-radius: 14px;
  padding: 10px;
  color: var(--quinary-color);
  background-color: var(--primary-color);
  max-width: 620px;
}

.destaque-bonus {
  font-size: var(--size-xs);
  font-weight: bold;
  color: var(--quinary-color);
}

.arrow {
  vertical-align: middle;
  margin: 2px;
  font-size: var(--size-xs);
  width: 20px;
}

circle {
  fill: var(--quaternary-color);
  color: var(--quaternary-color);
}

path {
  color: var(--primary-color);
}

.fix-button {
  margin-bottom: 20px;
}

.text-button {
  font-size: var(--size-md);
  font-family: var(--font-text);
  font-weight: bold;
  color: var(--quinary-color);
}

.button-02 {
  background-color: var(--quinary-color);
  color: var(--primary-color);
  padding: 20px 20px;
  border-radius: 10px;
  font-size: var(--size-md);
  font-family: var(--font-text);
  font-weight: bold;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .title-main {
   font-size: var(--size-xl);
   width: 100%;
   max-width: 100%;
   padding: 10px;
  }

  .content-text {
    gap: 40px;
    width: 100%;
  }

  .main-bonus {
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    font-size: var(--size-md);
    padding: 20px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
  }

  .destaque-bonus {
    font-size: var(--size-md);
  }

  .arrow {
    vertical-align: middle;
    margin: 2px;
    font-size: var(--size-xs);
    width: 28px;
  }
  
  circle {
    fill: var(--quaternary-color);
    color: var(--quaternary-color);
  }
  
  path {
    color: var(--primary-color);
  }

}

@media (min-width: 1024px) {
  .main-product {
    padding: 40px;
    background-image: url("../assets/backgrounds/2.png");
    background-size: cover;
    background-position: center;
    align-items: start;
  }

  .title-main {
    font-size: max(2rem, 3vw);
    padding: 20px;
    margin: 0;
    width: 100%;
  }

  .content-text {
    width: 70%;
    gap: 40px;
  }

  .main-bonus {
    font-size: var(--size-md);
    padding: 20px;
    max-width: 100%;
  }

  .destaque-bonus {
    font-size: var(--size-md);
  }

  .arrow {
    vertical-align: top;
    margin: 2px;
    font-size: var(--size-xs);
    width: 20px;
  }
  
  circle {
    fill: var(--quaternary-color);
    color: var(--quaternary-color);
  }
  
  path {
    color: var(--primary-color);
  }

  .button-02 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1700px) {
  .main-product {
    padding: 60px;
    align-items: start;
  }

  .title-main {
    font-size: max(2.2rem, 3vw);
    box-shadow: none;
    text-align: center;
    padding: 0px;
    max-width: 100%;
    padding: 20px;
  }

  .content-text {
    gap: 80px;
    align-items: center;
    max-width: 60%;
  }

  .main-bonus {
    font-size: var(--size-xs);
    padding: 20px;
    max-width: 100%;
    height: 40%;
  }

  .destaque-bonus {
    font-size: var(--size-xs);
  }

  .button-02 {
    margin-left: auto;
    margin-right: auto;
  }

  .button-02 {
    padding: 20px 40px;
  }
}