@import 'Variables.css';

.container-09 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-color);
  height: 20vh;  
}

.title-09 {
  font-family: var(--font-title);
  font-size: var(--size-lg);
  color: var(--quinary-color);
}

.button-09 {
  background-color: var(--quinary-color);
  color: var(--primary-color);
  font-size: var(--size-xs);
  font-family: var(--font-text);
  font-weight: thin;
  border: none;
  border-radius:4px;
  padding: 0 5px;
  cursor: pointer;
  box-shadow: 0 0 5px var(--secondary-color);
  display: flex;
  align-items: center;
}

.text-09 {
  background-color: var(--secondary-color);
  text-align: center;
  font-family: var(--font-text);
  font-size: var(--size-xs);
  color: var(--quinary-color);
  padding: 10px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .text-09 {
    padding: 30px;
  }
}