@import 'Variables.css';

.container-08 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-color);
}

.title-08 {
  font-family: var(--font-title);
  font-size: var(--size-lg);
  color: var(--quinary-color);
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.container-text {
  padding-bottom: 
}

.text-08 {
  font-family: var(--font-text);
  font-size: var(--size-md);
  color: var(--quinary-color);
  padding: 6px 20px;
  text-align: justify;
  font-weight: 100;
}

.container-perfil {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--quaternary-color);
  margin-top: 20px;
}

.perfil-08 {
  width: 60%;
}