@import './Variables.css';

.container-main-07 {
  background-image: url('../assets/images/6.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 20px;
}

.title-07 {
  width: 98%;
  padding: 0 18px;
  color: var(--quinary-color);
  font-size: var(--size-lg);
  font-weight: 700;
  font-family: var(--font-text);
  text-align: center;
  border-radius: 10px;
}

.faq-section {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 1rem;
  width: 94%;
}

.faq-question {
  font-size: var(--size-md);
  font-weight: 700;
  font-family: var(--font-title);
  color: var(--quaternary-color);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  text-align: left;
  display: flex;
}

.faq-item {
  margin: 5px 0;
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  overflow: hidden;
}

.faq-answer {
  font-size: var(--size-sm);
  font-family: var(--font-text);
  font-weight: 600;
  text-align: left;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  margin-top: 10px;
  color: var(--quinary-color);
  border-radius: 5px;
  padding: 0 10px;
}

.faq-item.open .faq-answer {
  opacity: 1;
  max-height: 340px; /* Ajuste conforme necessário */
}

@media (min-width: 768px) {
  .container-main-07 {
    background-position: center;
  }

  .faq-section {
    width: 90%;
  }

  .title-07 {
    font-size: var(--size-xl);
    padding: 5%;
  }

  .faq-question {
    font-size: var(--size-lg);
  }

  .faq-answer {
    font-size: var(--size-md);
  }
}

@media (min-width: 1024px) {
  .container-main-07 {
    background-position: right;
  }

  .faq-section {
    width: 80%;
  }

  .title-07 {
    font-size: var(--size-lg);
  }

  .faq-question {
    font-size: var(--size-lg);
  }

  .faq-answer {
    font-size: max(1.2rem, 1.2vw);
  }
}

@media (min-width: 1700px) {
  .container-main-07 {

  }

  .faq-section {
    width: 70%;
  }

  .title-07 {
    font-size: var(--size-md);
    width: 80%;
  }

  .faq-question {
    font-size: var(--size-md);
  }

  .faq-answer {
    font-size: max(1.5rem, 1.2vw);
  }
}