/* Container principal */
.container-price-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

/* Cartão */
.card-price-product {
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 94%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Título */
.title-price-product {
  font-size: max(2.8rem, 5vw);
  margin-bottom: 1.5rem;
  font-family: var(--font-title);
  color: var(--primary-color);
}

/* Bônus e Texto */
.bonus-price-product,
.ebook-price-product,
.total,
.installments,
.payment {
  margin: 0.4rem;
  color: var(--primary-color);
  font-family: var(--font-text);
  font-size: var(--size-xs);
  text-align: left;
}

.total {
  font-size: var(--size-sm);
}

.price-old {
  text-decoration: line-through;
  color: var(--quaternary-color);
  font-weight: bold;
  font-size: var(--size-sm);
  font-family: var(--font-text);
}

.price-new,
.price {
  color: var(--button-color);
  font-weight: bold;
  font-size: var(--size-sm);
}

.highlight {
  font-weight: bold;
  color: var(--quaternary-color); /* Contraste */
  font-size: var(--size-md);
  line-height: 1.2;
}

.total-label {
  font-weight: bold;
}

.payment {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #fff;
}

.cash-payment {
  font-size: var(--size-sm);
  color: #ffffff;
  margin-top: 0.5rem;
}

.price-cash, .installment {
  font-weight: bold;
  font-size: max(2.4rem, 4vw);
  font-family: var(--font-text);
}

.text-content {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1;
  gap: 10px;
}

.ebook-price-product {
  text-align: center;
}

.price-finally {
  font-size: 2rem;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}

.cash-payment {
  font-family: var(--font-text);

}

@media (min-width: 468px) {
  .card-price-product {
    padding: 40px;
  }

  .bonus-price-product,
  .ebook-price-product,
  .total,
  .installments,
  .payment {
    font-size: var(--size-sm);
  }

  .title-price-product {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .bonus-price-product,
  .ebook-price-product,
  .total,
  .installments,
  .payment {
    font-size: var(--size-md);
  }

  .card-price-product {
    max-width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text-content {
    font-size: 2rem;
    gap: 8px;
  }

  .price-cash {
    font-size: 4rem;
  }
  .title-price-product {
    font-size: 4rem;
  }
}

@media (min-width: 1700px) {
  .card-price-product {
    max-width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text-content {
    font-size: 2rem;
    gap: 8px;
  }

  .price-cash {
    font-size: 4rem;
  }
  .title-price-product {
    font-size: 4rem;
  }

  .price-finally {
    width: 70%;
  }

  .bonus-price-product, .ebook-price-product, .total, .installments, .payment {
    font-size: var(--size-sm);
  }
}