@import "./Variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-all-items-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.container-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.banner {
  width: 60vw;
  max-width: 26rem;
}

.main-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/images/1.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
}

.product-content {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.text-info-01,
.text-info-02 {
  color: var(--primary-color);
  text-align: center;
  max-width: 620px;
  line-height: 1.2;
  width: 100%;
}

.text-info-01 {
  font-family: var(--font-title);
  overflow: hidden;
  font-weight: 600;
  font-size: var(--size-lg);
  line-height: 1;
}

.text-info-02 {
  font-family: var(--font-text);
  overflow: hidden;
  font-size: var(--size-xs);
}

.destaque {
  font-size: var(--size-xs);
  font-weight: bold;
  color: var(--primary-color);
}

.icon-securit {
  width: 20px;
}

.container-icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--quinary-color);
  padding: 2px 6px;
  border-radius: 8px;
  opacity: 0.4;
  max-width: 380px;
  margin: 20px 0;
  width: 100%;
}

.title-securit,
.text-securit {
  color: var(--primary-color);
  font-size: var(--size-xxs);
  font-family: var(--font-text);
}

@media (min-width: 668px) {
  .container-all-items-01 {
    width: 100%;
  }
  
  .main-content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
  }

  .text-info-01,
  .text-info-02 {
    max-width: 94%;
  }

  .text-info-02 {
    font-size: var(--size-sm);
  }

  .product-content {
    width: 100%;
  }

  .banner {
    width: 280vw;
  }

  .container-icon-text {
    margin: 5px 0;
  }
}

@media (min-width: 769px) {
  .container-all-items-01 {
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }

  .main-content {
    flex-direction: row-reverse;
    background-attachment: scroll;
  }

  .product-content {
    justify-content: space-evenly;
    align-items: start;
    gap: 40px;
    width: 60%;
  }

  .text-info-01,
  .text-info-02 {
    font-size: var(--size-sm);
    border-radius: 15px;
    text-align: left;
    width: 100%;
  }         
  
  .text-info-01 {
    font-size: 2rem;
  }

  .text-info-02 {
    font-size: 1.2rem;
  }

  .container-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
  }

  .banner {
    width: 100%;
    max-width: 20rem;
  }
    .container-icon-text {
    margin: 10px 0;
  }                    
  .destaque {
    font-size: var(--size-xs);
  }
}

@media (min-width: 1024px) {
  .main-content {
    background-image: url("../assets/backgrounds/1.png");
    background-size: cover;
    background-position: right;
  }

  .container-all-items-01 {
    max-width: 80%;
    height: 70%;
    margin-right: 0;
  }

  .product-content {
    justify-content: space-evenly;
    height: 100%;
    width: 60%;
    padding: 0;
  }

  .text-info-01 {
    font-size: 2rem;
    max-width: 100%;
  }

  .text-info-02 {
    font-size: 1.4rem;
  }
  
  .container-banner {
    width: 40%;
    padding:  0 20px 0 0; 
  }

  .banner {
    max-width: 22rem;
  }
}

@media (min-width: 1700px) {
  .main-content {
    background-image: url("../assets/backgrounds/1.png");
    background-size: cover;
    background-position: left;
    height: 100vh;
  }


  .container-all-items-01 {
    max-width: 1300px;
    height: 70%;
    margin-right: 0;
  }

  .product-content {
    justify-content: space-evenly;
    height: 100%;
  }

  .text-info-01 {
    font-size: 2.4rem;
    color: var(--primary-color);
  }

  .text-info-02 {
    font-size: 1.4rem;
    color: var(--secondary-color);
  }

  .destaque {
    font-size: 1.6rem;
  }

  .banner {
    width: 100%;
    max-width: 30rem;
  }
}

@media (min-width: 1920px) {
  .container-all-items-01 {
    margin-right: 5%;
  }
}