@import './Variables.css';

.container-main-07 {
  background-image: url('../assets/images/6.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 150;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.title-07 {
  width: 98%;
  padding: 0 18px;
  color: var(--quinary-color);
  font-size: var(--size-lg);
  font-weight: 700;
  font-family: var(--font-text);
  text-align: center;
  border-radius: 10px;
}

.faq-section {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 1rem;
  width: 94%;
}

summary {
  font-size: var(--size-md);
  font-weight: 700;
  font-family: var(--font-title);
  color: var(--quaternary-color);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  text-align: left;
  display: flex;
}

details {
  margin: 5px 0;
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  overflow: hidden;
}

summary:hover {
  color: 
}

.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  margin-top: 10px;
  line-height: 1.5;
  font-size: var(--size-xs);
  font-family: var(--font-text);
  font-weight: 500;
  color: var(--quinary-color);
  border-radius: 5px;
  padding: 5px;
}
details[open] .faq-content {
  max-height: 100px; /* Ajuste para o máximo que seu conteúdo pode ter */
}