@import './Variables.css';

.container-main-07 {
  background-image: url('../assets/images/6.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.title-07 {
  width: 98%;
  padding: 0 18px;
  color: var(--quinary-color);
  font-size: var(--size-lg);
  font-weight: 700;
  font-family: var(--font-text);
  text-align: center;
  border-radius: 10px;
}

.faq-section {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 1rem;
  width: 94%;
}

.faq-question {
  font-size: var(--size-md);
  font-weight: 700;
  font-family: var(--font-title);
  color: var(--quaternary-color);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  text-align: left;
  display: flex;
}

.faq-item {
  margin: 5px 0;
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  overflow: hidden;
  transition: all 2s ease;
}

.faq-answer {
  font-size: var(--size-sm);
  font-family: var(--font-text);
  font-weight: 600;
  text-align: justify;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  margin-top: 10px;
  color: var(--quinary-color);
  border-radius: 5px;
  padding: 0 5px;
  transition: max-height 2s ease, opacity 2s ease;
}

.faq-item.open .faq-answer {
  opacity: 1;
  max-height: 1000px; /* Ajuste conforme necessário */
}
